<% include header.ejs %>

 	<div class="hero-unit">
    	<h1>欢迎来到 as 前端工作平台</h1>
  		<p></p>
  	</div>
  	<div class="btn-group-vertical">
    	<a href="/get_as_file" class="btn btn-primary">美术素材获取</a>
    	<p></p>
    	<a href="/static_files" class="btn btn-primary">前端常用表</a>
  	</div>
<% include footer.ejs %>