<html>
  <head>￼￼￼
    <title>as 前端工作平台</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" charset="utf-8"/>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet" charset="utf-8"/>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">￼￼￼
        <div class="container"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a href="/" class="brand">Seer_as</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">首页</a></li><!--li<a href="/login">登入</a>--><!--li<a href="/reg">注册</a>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
 